In [1]:
import re
import pandas as pd
df = pd.DataFrame(pd.read_csv('/gpfs/home2/gshekoufand/Data/data/meta/csv/nl/recordings.csv'))
df

,Root,SpeakerID,Component,Group,Age,Gender,CEF,DialectRegion,Duration (seconds),Duration (days)
0,fn000029,N000016,comp-p,4,28.0,M,A1,N4a,861.4805,0.009971
1,fn000036,N000019,comp-p,4,23.0,M,A1,N4a,561.2528,0.006496
2,fn000042,N000022,comp-p,4,21.0,F,A2,N4a,476.7111,0.005517
3,fn000046,N000024,comp-p,4,26.0,F,A2,N4a,421.3140,0.004876
4,fn000048,N000025,comp-p,1,8.0,F,NaN,N2c,328.7535,0.003805
...,...,...,...,...,...,...,...,...,...,...
595,fn100314,N100078,comp-q,5,78.0,F,NaN,N1b,372.1561,0.004307
596,fn100317,N100079,comp-q,5,68.0,F,NaN,N1b,363.4586,0.004207
597,fn100320,N100080,comp-q,5,74.0,F,NaN,N1b,416.1438,0.004816
598,fn100323,N100081,comp-q,5,74.0,F,NaN,N1b,386.2802,0.004471
599,fn100327,N100082,comp-q,5,95.0,M,NaN,N1b,582.0976,0.006737

In [2]:
sentences = []
for i, j in df.iterrows():
  file1 = open('/gpfs/home2/gshekoufand/Data/data/annot/text/ort/nlort/'+j["Root"]+'.ort', encoding = "ISO-8859-1")
  Lines = file1.readlines()

  count = 0
  utter = ""
  id_finder = False
  # Strips the newline character
  for line in Lines:
    if re.match(r'"N0|"N1', line):
      id_finder = True
      continue
    if not id_finder:
      continue
    if line[0]!='"':
      continue
    else:
      if  line[1:len(line)-2] == "IntervalTier" or line[1:len(line)-2] == "TextTier":
        break
      if line[1]=='"':
        continue
      else:
        utter = utter + line[1:len(line)-2] + " "
  sentences.append(utter)
df['Sentence'] = sentences
df.to_csv('/gpfs/home2/gshekoufand/Data/data/meta/csv/nl/recordings22.csv', index=False, encoding= "ISO-8859-1")

In [3]:
df

,Root,SpeakerID,Component,Group,Age,Gender,CEF,DialectRegion,Duration (seconds),Duration (days),Sentence
0,fn000029,N000016,comp-p,4,28.0,M,A1,N4a,861.4805,0.009971,Marrakech. uh xxx. xxx na-denken*s. de mensen ...
1,fn000036,N000019,comp-p,4,23.0,M,A1,N4a,561.2528,0.006496,ggg. uh. ik*f weet niet. ja. okÃ©. o xxx. Istan...
2,fn000042,N000022,comp-p,4,21.0,F,A2,N4a,476.7111,0.005517,uh Marrakech. uh ies*a uh het*f weer of de win...
3,fn000046,N000024,comp-p,4,26.0,F,A2,N4a,421.3140,0.004876,naar Londen. ik vind uh winkels is mooi. ik wi...
4,fn000048,N000025,comp-p,1,8.0,F,NaN,N2c,328.7535,0.003805,naar een zwemparadijs. een mooie glijbaan. uh....
...,...,...,...,...,...,...,...,...,...,...,...
595,fn100314,N100078,comp-q,5,78.0,F,NaN,N1b,372.1561,0.004307,veel Nederlanders vieren elk jaar hun verjaard...
596,fn100317,N100079,comp-q,5,68.0,F,NaN,N1b,363.4586,0.004207,nu? veel Nederlanders vieren elk jaar hun verj...
597,fn100320,N100080,comp-q,5,74.0,F,NaN,N1b,416.1438,0.004816,dus ik hoeft niet te rennen. ggg. veel Nederla...
598,fn100323,N100081,comp-q,5,74.0,F,NaN,N1b,386.2802,0.004471,veel Nederlanders vieren elk jaar hun verjaard...
599,fn100327,N100082,comp-q,5,95.0,M,NaN,N1b,582.0976,0.006737,ggg. volgende teksten hardop voorlezen. oh ggg...